@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-primary: #f97316;
  --color-secondary: #22c55e;
}

/* Base styles to apply theme colors globally */
:root {
  background-color: var(--fallback-b1, oklch(var(--b1) / 1));
  color: var(--fallback-bc, oklch(var(--bc) / 1));
}

body {
  font-family: "Inter", system-ui, sans-serif;
  @apply bg-base-200 text-base-content;
}
